# Logging
VERBOSITY=

# AWS IoT Core Configuration
THINGNAME=
ENDPOINT=
CLIENT_ID=
CLIENT_ID_SUB=
MQTT_PUBLISH_INTERVAL=

# MQTT Topics
TOPIC_TEMPERATURE=
TOPIC_HUMIDITY=
TOPIC_LIGHT=
TOPIC_PH=
TOPIC_RELAY_CONTROL=
TOPIC_RELAY_STATUS=

# Unified topic configuration
UNIFIED_REALTIME_TOPIC=
USE_UNIFIED_REALTIME_TOPIC=

# Certificate Paths
PATH_TO_CERT=
PATH_TO_KEY=
PATH_TO_ROOT_CA=

# MQTT Message Settings
MESSAGE=

# Publishing Interval (in seconds)
INTERVAL=

# Serial Interval (in seconds)
SERIAL_READ_INTERVAL=

# Serial Configuration
DEFAULT_SERIAL_PORT=
DEFAULT_BAUD_RATE=
DEFAULT_TIMEOUT=
DEFAULT_READ_SIZE=

# FastAPI Configuration
FASTAPI_SECRET_KEY=
FASTAPI_HOST=
FASTAPI_PORT=